__pycache__/
logs/
screenshot/

/.vscode
/.venv
/module/__pycache__
/screenshot
/custom_test.py
/build
/dist
GBFR_AutoReBattle.spec

/nuitka-crash-report.xml
build_log.txt

/output.png
/full.png
/_tmp_check.py